/*  your css code here. If applicable */
body{
	background-color:rgb(204,204,204);
}
h2{
	text-align:center;
}
h1{
	text-align:center;
}
ul a{
    text-decoration-line:none;
}
ul li{
	 list-style-type:none;
}
ul{
	background-color:#fff;
	padding:20px 10px;
	border:1px solid #000;
	border-radius:5px;
}
video{
	padding:10px;
	border-radius:10px;
	text-align:center;
	width:96%;
}
.player{
	background-color:rgb(255,255,255);
	width:90%;
	margin-left:5%;
	border:1px solid #000;
	border-radius:10px;
}
.player .player_one h2{
	margin-top:-7px;
}
.player .player_two p{
	margin-left:13px;
}
.player .player_two audio{
  width:96%;
	margin-left:10px;
	margin-bottom:10px;
}